<speak version="1.0" xml:lang="en-US">
    <voice name="en-US-SteffanMultilingualNeural">
        Welcome Sagar Hegde <break/> to this course where we are going to prepare ourselves for AI-02 Exam.
        We've got a lot to cover <break strength="medium" /> so lets brace ourselves for a journey to become AI Engineer.
        Sagar <break/> we would love to see u become one of the best AI Engineer in this world. 
    </voice>
</speack>
